body {
  background-color: rgb(67, 66, 66);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
}

.sites {
  float: right;
}

.cards {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgb(205, 123, 123);
  letter-spacing: 1.0px;
  height: 28rem;
  overflow: hidden;
}

.avatar {
  text-align: center;
  background: none;
}

table, th, td {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 1rem;
}

footer {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(205, 123, 123);
  letter-spacing: 1.0px;
}